@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    padding: 5vh 0px;
    display: flex;
    align-items: center;
}

#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
